body {
    background: #1abc9c; 
    font-family: Tahoma, Arial, sans-serif, 'Times New Roman',; 
    color: #333;
}
table {
    border-collapse: collapse;
}
p, h4 {
    font-size: 20px; 
    margin-bottom: 0;
}
h1 {
    font: 'Times New Roman'
}
h4 {
    font-size: 16px; 
}
ul, ol {
    margin: 0;
}
table tr td {
    width: max-content;
    padding: 5px;
}
table {
	width: 100%;
}

img {
	height: 30px;
	width: auto;
}
